<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>User Home</title>
    <th:block th:include="fragments.html :: headerfiles"></th:block>
    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{~/assets/css/cards.css}">
</head>

<body th:object="${Home}">
<!-- ======= Header ======= -->
<header th:insert="fragments.html :: header">
    <!-- Lista de Personas. MODIFICAR.-->
</header>


<main id="main">
    <!-- ======= Breadcrumbs ======= -->

    <section class="d-flex align-items-center" id="hero">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
            <h1 style="text-align:center">¡Bienvenido, <span sec:authentication="name"></span>!</h1><br>
            <h2 style="text-align:left">Sigue Entrenando</h2>
            <h3 style="text-align:center">¡Mira, tus Cursos Inscritos!</h3>
            <div class="row">
                <div class="col-lg-3 col-md-4 d-flex align-item-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div th:each="cursoc:${Home}" >
                        <div class="card">
                            <div class="face front">
                                <img alt="" th:src="@{~/assets/img/Logos/Logo.jpg}">
                                <h3 th:text="${cursoc.fecha}"></h3>
                            </div>
                            <div class="face back">
                                <h3 th:text="${cursoc.fecha}"></h3>
                                <p th:text="${cursoc.categoria}"></p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="faq section-bg" id="faq">
        <div class="container" data-aos="fade-up" >
            <div class="row">
                <div class="section-title">
                    <h2>Resumen de tus actividades</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.
                        Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit
                        alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a class="collapse"
                                                                           data-bs-target="#faq-list-1"
                                                                           data-bs-toggle="collapse"> Hora de cursos
                            vistas <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div class="collapse show" data-bs-parent=".faq-list" id="faq-list-1">
                                <p>
                                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus
                                    laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor
                                    rhoncus dolor purus non.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a class="collapsed"
                                                                           data-bs-target="#faq-list-2"
                                                                           data-bs-toggle="collapse"> Cursos Inscritos <i
                                class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                            <div class="collapse" data-bs-parent=".faq-list" id="faq-list-2">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id
                                    interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus
                                    scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
                                    Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a class="collapsed"
                                                                           data-bs-target="#faq-list-3"
                                                                           data-bs-toggle="collapse"> Cursos terminados <i
                                class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                            <div class="collapse" data-bs-parent=".faq-list" id="faq-list-3">
                                <p>
                                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.
                                    Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl
                                    suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis
                                    convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a class="collapsed"
                                                                           data-bs-target="#faq-list-4"
                                                                           data-bs-toggle="collapse"> Cursos en desarrollo <i
                                class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                            <div class="collapse" data-bs-parent=".faq-list" id="faq-list-4">
                                <p>
                                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim
                                    suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan.
                                    Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit
                                    turpis cursus in.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </section><!-- End Frequently Asked Questions Section -->



    <div th:insert="fragments.html :: jsfiles"></div>
</main>
</body>
</html>