<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Estudiantes</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="" href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.bootstrap4.min.css">

    <style>

        table th {
            background-color: #011248;
            color:#FDFDFE;
        }
    </style>

</head>
<body>
<br>
<h1> Usuarios </h1>
<table id="example" class="display" style="width:100%">
    <thead>
    <tr>

        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Alias</th>
        <th>Documento</th>
        <th>Correo</th>

        <th>Edad</th>
        <th>Ciudad</th>
        <th>Número de Identidad</th>
        <th>Tipo de Documento</th>
        <th>Fecha de Nacimiento</th>

    </tr>

    </thead>
    </thead>
    <tbody th:if="${usuarios != null}" >
    <tr th:each="ju : ${usuarios}">
        <td style="color: #000 !Important"; scope="row" th:text="${ju.nombre}"></td>
        <td style="color: #000 !Important"; scope="row" th:text="${ju.apellido}"></td>
        <td style="color: #000 !Important"; scope="row" th:text="${ju.nickname}"></td>
        <td style="color: #000 !Important"; scope="row" th:text="${ju.documento}"></td>
        <td style="color: #000 !Important"; scope="row" th:text="${ju.correo}"></td>
        <td style="color: #000 !Important"; scope="row" th:text="${ju.edad}"></td>
        <td style="color: #000 !Important"; scope="row" th:text="${ju.ciudad}"></td>
        <td style="color: #000 !Important"; scope="row" th:text="${ju.numeroIdentidad}"></td>
        <td style="color: #000 !Important"; scope="row" th:text="${ju.tipoIdentidad}"></td>
        <td style="color: #000 !Important"; scope="row" th:text="${ju.fechaNacimiento}"></td>
        <td >
            <a th:href = "@{/usuario/cursosInscritos/{id}(id=${ju.id})}"
               class = "btn btn-primary">Ver Cursos Inscrito</a>
            <a th:href = "@{/usuario/edit/{id}(id=${ju.id})}"
               class = "btn btn-primary">Editar</a>
            <a class="btn btn-danger btn-sm" th:href="@{/delete/} + ${ju.id}"
               th:text="'Eliminar'" title="Eliminar">
            </a>
        </td>


    </tr>
    </tbody>

    </tr>

    </tfoot>
</table>

<button id="btn1">Añadir un nuevo Usuario</button>

    <a class="btn btn-danger btn-sm" th:href = "@{/cursos}"
       th:text="'Ver Cursos Diponibles'" title="Ver Cursos Diponibles">
    </a>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.2.2/js/dataTables.fixedHeader.min.js"></script>

<script>


    $(document).ready(function(){
        var table = $('#example').DataTable({
            orderCellsTop: true,
           fixedHeader: true
        });

        $('#example thead tr').clone(true).appendTo( '#example thead' );

        $('#example thead tr:eq(1) th').each( function (i) {
            var title = $(this).text(); //es el nombre de la columna
            $(this).html( '<input type="text" placeholder="Buscar...'+title+'" />' );

            $('input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value )
                        .draw();
                }
            } );
        } );
        //Creamos una fila en el head de la tabla y lo clonamos para cada columna
    });




    </script>


</body>
</html>