<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cursos</title>
    <th:block th:include="fragments.html :: headerfiles"></th:block>
    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{~/assets/css/cards.css}">
</head>

<body th:object="${cursos}">
<header th:insert="fragments.html :: header"></header>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs" id="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Nuestros Cursos</h2>
                <ol>
                    <li><a th:href="@{/}">E-ntrenate</a></li>
                    <li>Cursos</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="d-flex align-items-center" id="hero">
        <div class="container">
            <h1 style="text-align:center">¡Mira nuestros Cursos!</h1>

            <div class="row">
                <div class="col-lg-3 col-md-4 d-flex align-item-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div th:each="curso:${cursos}" >
                        <div class="card">
                            <div class="face front">
                                <img alt="" th:src="@{~/assets/img/Logos/Logo.jpg}">
                                <h3 th:text="${curso.nombre}"></h3>
                            </div>
                            <div class="face back">
                                <h3 th:text="${curso.nombre}"></h3>
                                <p th:text="${curso.categoria}"></p>
                                <div class="link">
                                    <a th:href="@{/buy/} + ${curso.id}"
                                       th:text="'Comprar'" title="Comprar"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:insert="fragments.html :: footer"></footer>
    <div th:insert="fragments.html :: jsfiles"></div>

</main>
</body>
</html>