<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Detalles del Curso</title>
    <th:block th:include="fragments.html :: headerfiles"></th:block>
</head>

<body>

<header th:insert="fragments.html :: header"></header>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs" id="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Detalles del Curso</h2>
                <ol>
                    <li><a th:href="@{/}">E-ntrenate</a></li>
                    <li>Detalles Curso</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details" id="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide">
                                <img alt="" th:src="@{~/assets/img/Miniaturasvideos/Miniatura1.jpg}">
                            </div>

                            <div class="swiper-slide">
                                <img alt="" th:src="@{~/assets/img/Miniaturasvideos/Miniatura2.jpg}">
                            </div>

                            <div class="swiper-slide">
                                <img alt="" th:src="@{~/assets/img/Miniaturasvideos/Miniatura3.jpg}">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Información del Curso</h3>
                        <ul>
                            <li><strong>Nombre</strong>: Web design</li>
                            <li><strong>ID del curso</strong>: 1216162</li>
                            <li><strong>Fecha de creación</strong>: 01 March, 2020</li>
                            <li><strong>Tutor Asignado</strong>: David Perez</li>
                            <li><strong>Calificación</strong>: <i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i></li>
                        </ul>
                    </div>

                    <div class="portfolio-description">
                        <h2>Descripción del Curso</h2>
                        <p>
                            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore
                            quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim.
                            Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi
                            nulla at esse enim cum deserunt eius.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->

    <!-- ======= Pricing Section ======= -->
    <section th:insert="fragments.html :: pricing"></section>

    <footer th:insert="fragments.html :: footer"></footer>

    <div>
        <th:block th:include="fragments.html :: jsfiles"></th:block>
        <!-- Vendor JS Files -->
        <script th:src="@{~/assets/vendor/purecounter/purecounter.js}"></script>
    </div>
</main>
</body>
</html>